<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{110,643},{101,101}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{101,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{3,360},{109,109}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,109}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,130},{113,113}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{3,572},{103,103}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{106,748},{99,99}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,99}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{114,536},{103,103}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{3,473},{107,95}}</string>
<key>offset</key>
<string>{-4,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,95}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{116,425},{107,107}}</string>
<key>offset</key>
<string>{0,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{130,108},{119,93}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,93}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,748},{99,99}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,99}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,247},{111,109}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,109}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{130,3},{101,119}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{101,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{118,320},{111,101}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{123,123}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{120,205},{111,111}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{252,850}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>