<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>W1.png</key>
<dict>
<key>frame</key>
<string>{{130,1815},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W2.png</key>
<dict>
<key>frame</key>
<string>{{3,1815},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W3.png</key>
<dict>
<key>frame</key>
<string>{{130,1664},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W4.png</key>
<dict>
<key>frame</key>
<string>{{3,1664},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W5.png</key>
<dict>
<key>frame</key>
<string>{{130,1513},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W6.png</key>
<dict>
<key>frame</key>
<string>{{3,1513},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W7.png</key>
<dict>
<key>frame</key>
<string>{{130,1362},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W8.png</key>
<dict>
<key>frame</key>
<string>{{3,1362},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b1.png</key>
<dict>
<key>frame</key>
<string>{{130,1211},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b2.png</key>
<dict>
<key>frame</key>
<string>{{3,1211},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b3.png</key>
<dict>
<key>frame</key>
<string>{{130,1060},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b4.png</key>
<dict>
<key>frame</key>
<string>{{3,1060},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b5.png</key>
<dict>
<key>frame</key>
<string>{{130,909},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b6.png</key>
<dict>
<key>frame</key>
<string>{{3,909},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b7.png</key>
<dict>
<key>frame</key>
<string>{{130,758},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b8.png</key>
<dict>
<key>frame</key>
<string>{{3,758},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b9.png</key>
<dict>
<key>frame</key>
<string>{{130,607},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t1.png</key>
<dict>
<key>frame</key>
<string>{{3,607},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t2.png</key>
<dict>
<key>frame</key>
<string>{{130,456},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t3.png</key>
<dict>
<key>frame</key>
<string>{{3,456},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t4.png</key>
<dict>
<key>frame</key>
<string>{{130,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t5.png</key>
<dict>
<key>frame</key>
<string>{{3,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t6.png</key>
<dict>
<key>frame</key>
<string>{{130,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t7.png</key>
<dict>
<key>frame</key>
<string>{{3,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t8.png</key>
<dict>
<key>frame</key>
<string>{{130,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t9.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>cardIconTile.png</string>
<key>size</key>
<string>{256,1965}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>cardIconTile.png</string>
</dict>
</dict>
</plist>