<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>A1.png</key>
<dict>
<key>frame</key>
<string>{{486,686},{121,149}}</string>
<key>offset</key>
<string>{-3,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,149}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A2.png</key>
<dict>
<key>frame</key>
<string>{{611,635},{119,135}}</string>
<key>offset</key>
<string>{-6,17}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A3.png</key>
<dict>
<key>frame</key>
<string>{{482,531},{115,151}}</string>
<key>offset</key>
<string>{-7,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,151}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A4.png</key>
<dict>
<key>frame</key>
<string>{{635,152},{121,143}}</string>
<key>offset</key>
<string>{-5,12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,143}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A5.png</key>
<dict>
<key>frame</key>
<string>{{601,492},{125,139}}</string>
<key>offset</key>
<string>{-5,12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A6.png</key>
<dict>
<key>frame</key>
<string>{{565,343},{119,145}}</string>
<key>offset</key>
<string>{-6,12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,145}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A7.png</key>
<dict>
<key>frame</key>
<string>{{688,299},{111,139}}</string>
<key>offset</key>
<string>{-7,13}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A8.png</key>
<dict>
<key>frame</key>
<string>{{730,442},{119,133}}</string>
<key>offset</key>
<string>{-6,17}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A9.png</key>
<dict>
<key>frame</key>
<string>{{669,3},{115,141}}</string>
<key>offset</key>
<string>{-4,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C1.png</key>
<dict>
<key>frame</key>
<string>{{390,896},{123,139}}</string>
<key>offset</key>
<string>{-3,13}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{123,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C2.png</key>
<dict>
<key>frame</key>
<string>{{381,255},{121,151}}</string>
<key>offset</key>
<string>{-3,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,151}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C3.png</key>
<dict>
<key>frame</key>
<string>{{506,194},{125,145}}</string>
<key>offset</key>
<string>{-3,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,145}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C4.png</key>
<dict>
<key>frame</key>
<string>{{357,202},{49,97}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{49,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C5.png</key>
<dict>
<key>frame</key>
<string>{{1224,594},{93,97}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{93,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C6.png</key>
<dict>
<key>frame</key>
<string>{{1214,818},{91,103}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{91,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C7.png</key>
<dict>
<key>frame</key>
<string>{{983,822},{103,97}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C8.png</key>
<dict>
<key>frame</key>
<string>{{984,721},{103,97}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C9.png</key>
<dict>
<key>frame</key>
<string>{{1084,923},{97,95}}</string>
<key>offset</key>
<string>{-4,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,95}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{1098,324},{103,127}}</string>
<key>offset</key>
<string>{-6,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{1097,544},{105,123}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{105,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{803,291},{97,133}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{760,148},{93,139}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{93,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{1099,217},{103,127}}</string>
<key>offset</key>
<string>{-6,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{1109,110},{103,127}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{1109,3},{103,127}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{1002,3},{103,127}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W1.png</key>
<dict>
<key>frame</key>
<string>{{240,202},{49,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{49,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W2.png</key>
<dict>
<key>frame</key>
<string>{{749,714},{83,111}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{83,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W3.png</key>
<dict>
<key>frame</key>
<string>{{1013,392},{81,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{81,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W4.png</key>
<dict>
<key>frame</key>
<string>{{865,680},{91,115}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{91,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W5.png</key>
<dict>
<key>frame</key>
<string>{{1230,231},{87,113}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{87,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W6.png</key>
<dict>
<key>frame</key>
<string>{{866,862},{95,113}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{95,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W7.png</key>
<dict>
<key>frame</key>
<string>{{1183,913},{85,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{85,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W8.png</key>
<dict>
<key>frame</key>
<string>{{864,775},{83,115}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{83,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W9.png</key>
<dict>
<key>frame</key>
<string>{{749,923},{97,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{904,281},{105,129}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{984,620},{103,97}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{983,923},{97,97}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{984,509},{109,107}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{1240,124},{75,103}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{75,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{1227,469},{121,91}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,91}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{1091,776},{91,119}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{91,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b1.png</key>
<dict>
<key>frame</key>
<string>{{865,563},{113,115}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b2.png</key>
<dict>
<key>frame</key>
<string>{{220,477},{51,119}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{51,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b3.png</key>
<dict>
<key>frame</key>
<string>{{1098,431},{109,125}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b4.png</key>
<dict>
<key>frame</key>
<string>{{464,410},{97,117}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b5.png</key>
<dict>
<key>frame</key>
<string>{{1216,695},{97,119}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b6.png</key>
<dict>
<key>frame</key>
<string>{{788,3},{75,139}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{75,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b7.png</key>
<dict>
<key>frame</key>
<string>{{562,3},{103,145}}</string>
<key>offset</key>
<string>{-5,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,145}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b8.png</key>
<dict>
<key>frame</key>
<string>{{533,839},{81,147}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{81,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b9.png</key>
<dict>
<key>frame</key>
<string>{{618,909},{111,127}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_img_mj_dn.png</key>
<dict>
<key>frame</key>
<string>{{240,3},{157,195}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{157,195}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_img_mj_up.png</key>
<dict>
<key>frame</key>
<string>{{220,278},{157,195}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{157,195}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_img_shadow_dn.png</key>
<dict>
<key>frame</key>
<string>{{3,278},{213,251}}</string>
<key>offset</key>
<string>{4,-7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{213,251}}</string>
<key>sourceSize</key>
<string>{221,265}</string>
</dict>
<key>gameplay_img_shadow_up.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{233,271}}</string>
<key>offset</key>
<string>{5,-9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{233,271}}</string>
<key>sourceSize</key>
<string>{243,289}</string>
</dict>
<key>gameplay_mask_mj.png</key>
<dict>
<key>frame</key>
<string>{{164,732},{157,195}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{157,195}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_select_mj.png</key>
<dict>
<key>frame</key>
<string>{{164,533},{157,195}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{157,195}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_special_flower.png</key>
<dict>
<key>frame</key>
<string>{{853,428},{131,127}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{131,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_special_knitting.png</key>
<dict>
<key>frame</key>
<string>{{867,3},{131,131}}</string>
<key>offset</key>
<string>{-3,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{131,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_special_mj.png</key>
<dict>
<key>frame</key>
<string>{{1091,653},{119,121}}</string>
<key>offset</key>
<string>{-8,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_special_mj_2.png</key>
<dict>
<key>frame</key>
<string>{{3,732},{157,195}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{157,195}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_special_snow.png</key>
<dict>
<key>frame</key>
<string>{{734,579},{131,127}}</string>
<key>offset</key>
<string>{-3,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{131,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_special_teacup.png</key>
<dict>
<key>frame</key>
<string>{{618,774},{131,127}}</string>
<key>offset</key>
<string>{-3,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{131,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>gameplay_special_violin.png</key>
<dict>
<key>frame</key>
<string>{{857,146},{131,131}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{131,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>journey_special_icon_christmas.png</key>
<dict>
<key>frame</key>
<string>{{325,532},{153,183}}</string>
<key>offset</key>
<string>{-2,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{153,183}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>journey_special_icon_japan.png</key>
<dict>
<key>frame</key>
<string>{{401,3},{157,187}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{157,187}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>journey_special_icon_snow.png</key>
<dict>
<key>frame</key>
<string>{{325,719},{157,173}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{157,173}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>journey_special_mj_green.png</key>
<dict>
<key>frame</key>
<string>{{3,533},{157,195}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{157,195}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t1.png</key>
<dict>
<key>frame</key>
<string>{{992,138},{103,129}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t2.png</key>
<dict>
<key>frame</key>
<string>{{343,477},{21,117}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{21,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t3.png</key>
<dict>
<key>frame</key>
<string>{{1229,348},{85,117}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{85,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t4.png</key>
<dict>
<key>frame</key>
<string>{{1240,3},{77,117}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{77,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t5.png</key>
<dict>
<key>frame</key>
<string>{{1013,271},{81,117}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{81,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t6.png</key>
<dict>
<key>frame</key>
<string>{{749,801},{85,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{85,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t7.png</key>
<dict>
<key>frame</key>
<string>{{3,931},{87,129}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{87,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t8.png</key>
<dict>
<key>frame</key>
<string>{{265,931},{87,121}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{87,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t9.png</key>
<dict>
<key>frame</key>
<string>{{136,931},{87,125}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{87,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>cardIcon.png</string>
<key>size</key>
<string>{1321,1023}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>cardIcon.png</string>
</dict>
</dict>
</plist>