<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{3,987},{129,115}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{129,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{3,1334},{107,137}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,137}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,1475},{129,107}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{129,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{3,850},{115,133}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{3,491},{125,117}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{125,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,1233},{97,111}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{3,1120},{109,113}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{3,134},{123,119}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{123,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{3,1608},{105,131}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,1743},{103,127}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,735},{117,111}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{3,382},{119,105}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{3,261},{119,117}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{3,620},{117,111}}</string>
<key>offset</key>
<string>{-5,17}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{121,127}}</string>
<key>offset</key>
<string>{-3,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{127,1873}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>