<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{128,517},{117,107}}</string>
<key>offset</key>
<string>{-5,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{114,148},{115,139}}</string>
<key>offset</key>
<string>{-4,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{115,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{129,141}}</string>
<key>offset</key>
<string>{-6,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{129,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{3,754},{133,115}}</string>
<key>offset</key>
<string>{-5,3}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{133,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{3,476},{121,135}}</string>
<key>offset</key>
<string>{-4,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{122,628},{133,99}}</string>
<key>offset</key>
<string>{-4,2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{133,99}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{116,267},{135,109}}</string>
<key>offset</key>
<string>{-5,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{135,109}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{122,904},{113,119}}</string>
<key>offset</key>
<string>{-4,3}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{122,765},{135,97}}</string>
<key>offset</key>
<string>{-3,2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{135,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,615},{135,115}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{135,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,315},{109,157}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,157}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{3,891},{115,127}}</string>
<key>offset</key>
<string>{-4,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{3,148},{107,163}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,163}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{136,3},{133,117}}</string>
<key>offset</key>
<string>{-5,3}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{133,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{128,380},{133,101}}</string>
<key>offset</key>
<string>{-6,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{133,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{256,1021}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>