<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{432,3},{97,149}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,149}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{479,104},{107,129}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{136,3},{113,139}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{129,131}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{129,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{585,3},{91,153}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{91,153}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,138},{111,131}}</string>
<key>offset</key>
<string>{-6,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{719,108},{119,121}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{590,98},{125,125}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{742,3},{101,145}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{101,145}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{891,3},{103,135}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{844,142},{119,109}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,109}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{279,3},{99,149}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{99,149}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{138,120},{107,133}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{249,142},{111,117}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{370,106},{105,135}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{997,256}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>