<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{138,3},{127,123}}</string>
<key>offset</key>
<string>{-5,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{668,3},{119,141}}</string>
<key>offset</key>
<string>{-6,11}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{1182,3},{115,129}}</string>
<key>offset</key>
<string>{-5,15}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{115,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{1315,3},{113,139}}</string>
<key>offset</key>
<string>{-5,13}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{398,3},{121,141}}</string>
<key>offset</key>
<string>{-5,11}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{131,123}}</string>
<key>offset</key>
<string>{-5,13}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{131,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{269,3},{125,123}}</string>
<key>offset</key>
<string>{-5,12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{1869,3},{97,141}}</string>
<key>offset</key>
<string>{-6,13}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{942,3},{119,117}}</string>
<key>offset</key>
<string>{-9,15}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{1063,3},{115,117}}</string>
<key>offset</key>
<string>{-5,12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{543,3},{121,121}}</string>
<key>offset</key>
<string>{-4,12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{1724,3},{109,141}}</string>
<key>offset</key>
<string>{-5,11}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{1591,3},{113,129}}</string>
<key>offset</key>
<string>{-5,12}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{813,3},{125,119}}</string>
<key>offset</key>
<string>{-5,12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{1458,3},{113,129}}</string>
<key>offset</key>
<string>{-5,12}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{2013,129}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>