<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{683,3},{125,127}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{523,138},{115,115}}</string>
<key>offset</key>
<string>{-6,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{144,146},{107,129}}</string>
<key>offset</key>
<string>{-6,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{107,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{229,3},{111,135}}</string>
<key>offset</key>
<string>{-6,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{562,3},{117,129}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{775,134},{119,121}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{3,148},{137,101}}</string>
<key>offset</key>
<string>{-6,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{137,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{461,3},{97,131}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{111,141}}</string>
<key>offset</key>
<string>{-3,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{642,136},{113,129}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{277,142},{111,123}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{118,3},{107,139}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{344,3},{113,131}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{812,3},{119,119}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{404,138},{115,115}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{934,256}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>