<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,478},{109,101}}</string>
<key>offset</key>
<string>{-6,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{3,264},{103,111}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{121,83}}</string>
<key>offset</key>
<string>{-5,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,83}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,680},{97,89}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,89}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,773},{95,127}}</string>
<key>offset</key>
<string>{-2,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{95,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{3,90},{71,119}}</string>
<key>offset</key>
<string>{-2,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{71,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{3,583},{93,105}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{93,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{3,371},{109,103}}</string>
<key>offset</key>
<string>{-6,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{3,165},{115,95}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,95}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{127,903}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>