<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>gameplay_txt_Chinese.png</key>
<dict>
<key>frame</key>
<string>{{826,54},{173,39}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{173,39}}</string>
<key>sourceSize</key>
<string>{173,39}</string>
</dict>
<key>gameplay_txt_English.png</key>
<dict>
<key>frame</key>
<string>{{1221,53},{351,37}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{351,37}}</string>
<key>sourceSize</key>
<string>{351,37}</string>
</dict>
<key>gameplay_txt_French.png</key>
<dict>
<key>frame</key>
<string>{{1375,3},{493,46}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{493,46}}</string>
<key>sourceSize</key>
<string>{493,46}</string>
</dict>
<key>gameplay_txt_German.png</key>
<dict>
<key>frame</key>
<string>{{483,3},{368,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{368,47}}</string>
<key>sourceSize</key>
<string>{368,47}</string>
</dict>
<key>gameplay_txt_Japanese.png</key>
<dict>
<key>frame</key>
<string>{{398,54},{247,39}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{247,39}}</string>
<key>sourceSize</key>
<string>{247,39}</string>
</dict>
<key>gameplay_txt_Korean.png</key>
<dict>
<key>frame</key>
<string>{{1003,53},{214,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{214,40}}</string>
<key>sourceSize</key>
<string>{214,40}</string>
</dict>
<key>gameplay_txt_Portuguese.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{476,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{476,47}}</string>
<key>sourceSize</key>
<string>{476,47}</string>
</dict>
<key>gameplay_txt_Russian.png</key>
<dict>
<key>frame</key>
<string>{{3,54},{391,39}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{391,39}}</string>
<key>sourceSize</key>
<string>{391,39}</string>
</dict>
<key>gameplay_txt_Spanish.png</key>
<dict>
<key>frame</key>
<string>{{855,3},{516,46}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{516,46}}</string>
<key>sourceSize</key>
<string>{516,46}</string>
</dict>
<key>gameplay_txt_TraditionalChinese.png</key>
<dict>
<key>frame</key>
<string>{{649,54},{173,39}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{173,39}}</string>
<key>sourceSize</key>
<string>{173,39}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>match_down.png</string>
<key>size</key>
<string>{1871,96}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>match_down.png</string>
</dict>
</dict>
</plist>