<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>compjourney_img_1.png</key>
<dict>
<key>frame</key>
<string>{{489,582},{130,218}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{130,218}}</string>
<key>sourceSize</key>
<string>{130,218}</string>
</dict>
<key>compjourney_img_2.png</key>
<dict>
<key>frame</key>
<string>{{677,3},{562,445}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{562,445}}</string>
<key>sourceSize</key>
<string>{562,445}</string>
</dict>
<key>compjourney_img_3.png</key>
<dict>
<key>frame</key>
<string>{{489,807},{625,502}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{625,502}}</string>
<key>sourceSize</key>
<string>{625,502}</string>
</dict>
<key>compjourney_img_4.png</key>
<dict>
<key>frame</key>
<string>{{3,1259},{469,665}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{469,665}}</string>
<key>sourceSize</key>
<string>{469,665}</string>
</dict>
<key>compjourney_img_5.png</key>
<dict>
<key>frame</key>
<string>{{677,569},{400,234}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{400,234}}</string>
<key>sourceSize</key>
<string>{400,234}</string>
</dict>
<key>compjourney_img_6.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{575,670}}</string>
<key>offset</key>
<string>{-10,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{575,670}}</string>
<key>sourceSize</key>
<string>{595,670}</string>
</dict>
<key>compjourney_img_7.png</key>
<dict>
<key>frame</key>
<string>{{3,582},{673,482}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{673,482}}</string>
<key>sourceSize</key>
<string>{673,482}</string>
</dict>
<key>compjourney_img_8.png</key>
<dict>
<key>frame</key>
<string>{{476,1313},{613,465}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{613,465}}</string>
<key>sourceSize</key>
<string>{613,465}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>compjourney_set.png</string>
<key>size</key>
<string>{1125,1927}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>compjourney_set.png</string>
</dict>
</dict>
</plist>