<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{752,3},{103,127}}</string>
<key>offset</key>
<string>{1,14}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{103,117}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{209,3},{97,115}}</string>
<key>offset</key>
<string>{-7,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{651,3},{97,105}}</string>
<key>offset</key>
<string>{-2,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{310,3},{107,113}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{421,3},{103,113}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{883,3},{103,123}}</string>
<key>offset</key>
<string>{-5,12}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{528,3},{119,109}}</string>
<key>offset</key>
<string>{-1,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,109}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{110,3},{95,117}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{95,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{1009,123}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>