<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{122,3},{81,95}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{81,95}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{207,3},{71,95}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{71,95}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{282,3},{67,103}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{67,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{115,95}}</string>
<key>offset</key>
<string>{-6,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,95}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>cardIcon.png</string>
<key>size</key>
<string>{388,101}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>cardIcon.png</string>
</dict>
</dict>
</plist>