<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>A1.png</key>
<dict>
<key>frame</key>
<string>{{1760,253},{113,115}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A2.png</key>
<dict>
<key>frame</key>
<string>{{1211,418},{51,119}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{51,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A3.png</key>
<dict>
<key>frame</key>
<string>{{1433,3},{109,125}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A4.png</key>
<dict>
<key>frame</key>
<string>{{1691,380},{97,117}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A5.png</key>
<dict>
<key>frame</key>
<string>{{1568,384},{97,119}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A6.png</key>
<dict>
<key>frame</key>
<string>{{1146,3},{75,139}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{75,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A7.png</key>
<dict>
<key>frame</key>
<string>{{1104,305},{103,145}}</string>
<key>offset</key>
<string>{-5,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,145}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A8.png</key>
<dict>
<key>frame</key>
<string>{{1019,305},{81,147}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{81,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A9.png</key>
<dict>
<key>frame</key>
<string>{{1239,138},{111,127}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C1.png</key>
<dict>
<key>frame</key>
<string>{{1790,126},{115,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{115,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C2.png</key>
<dict>
<key>frame</key>
<string>{{1302,269},{127,105}}</string>
<key>offset</key>
<string>{-6,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{127,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C3.png</key>
<dict>
<key>frame</key>
<string>{{1657,3},{121,115}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C4.png</key>
<dict>
<key>frame</key>
<string>{{1695,128},{91,121}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C5.png</key>
<dict>
<key>frame</key>
<string>{{1574,130},{117,121}}</string>
<key>offset</key>
<string>{-7,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C6.png</key>
<dict>
<key>frame</key>
<string>{{1225,3},{95,131}}</string>
<key>offset</key>
<string>{-6,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{95,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C7.png</key>
<dict>
<key>frame</key>
<string>{{1324,3},{105,127}}</string>
<key>offset</key>
<string>{-6,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C8.png</key>
<dict>
<key>frame</key>
<string>{{1645,255},{111,121}}</string>
<key>offset</key>
<string>{-3,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C9.png</key>
<dict>
<key>frame</key>
<string>{{1522,259},{121,119}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{1019,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{1019,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{892,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{892,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{892,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{765,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{765,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{765,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W1.png</key>
<dict>
<key>frame</key>
<string>{{1986,3},{49,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{49,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W2.png</key>
<dict>
<key>frame</key>
<string>{{1929,397},{83,111}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{83,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W3.png</key>
<dict>
<key>frame</key>
<string>{{1334,400},{81,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{81,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W4.png</key>
<dict>
<key>frame</key>
<string>{{1891,3},{91,115}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W5.png</key>
<dict>
<key>frame</key>
<string>{{1451,394},{87,113}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{87,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W6.png</key>
<dict>
<key>frame</key>
<string>{{1929,209},{95,113}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{95,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W7.png</key>
<dict>
<key>frame</key>
<string>{{1929,308},{85,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{85,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W8.png</key>
<dict>
<key>frame</key>
<string>{{1929,122},{83,115}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{83,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W9.png</key>
<dict>
<key>frame</key>
<string>{{1812,372},{97,113}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{1211,283},{87,131}}</string>
<key>offset</key>
<string>{-6,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{87,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{1776,3},{119,111}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{638,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{1354,134},{127,101}}</string>
<key>offset</key>
<string>{-5,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{127,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{1459,132},{111,123}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{638,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{1411,265},{125,107}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{125,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b1.png</key>
<dict>
<key>frame</key>
<string>{{638,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b2.png</key>
<dict>
<key>frame</key>
<string>{{511,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b3.png</key>
<dict>
<key>frame</key>
<string>{{511,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b4.png</key>
<dict>
<key>frame</key>
<string>{{511,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b5.png</key>
<dict>
<key>frame</key>
<string>{{384,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b6.png</key>
<dict>
<key>frame</key>
<string>{{384,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b7.png</key>
<dict>
<key>frame</key>
<string>{{384,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b8.png</key>
<dict>
<key>frame</key>
<string>{{257,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b9.png</key>
<dict>
<key>frame</key>
<string>{{257,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t1.png</key>
<dict>
<key>frame</key>
<string>{{1546,3},{107,123}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t2.png</key>
<dict>
<key>frame</key>
<string>{{257,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t3.png</key>
<dict>
<key>frame</key>
<string>{{1146,146},{133,89}}</string>
<key>offset</key>
<string>{-5,3}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{133,89}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t4.png</key>
<dict>
<key>frame</key>
<string>{{130,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t5.png</key>
<dict>
<key>frame</key>
<string>{{130,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t6.png</key>
<dict>
<key>frame</key>
<string>{{130,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t7.png</key>
<dict>
<key>frame</key>
<string>{{3,305},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t8.png</key>
<dict>
<key>frame</key>
<string>{{3,154},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t9.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{123,147}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>cardIcon.png</string>
<key>size</key>
<string>{2047,484}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>cardIcon.png</string>
</dict>
</dict>
</plist>