<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{119,121}}</string>
<key>offset</key>
<string>{-6,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{340,3},{121,99}}</string>
<key>offset</key>
<string>{-7,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,99}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{126,3},{107,121}}</string>
<key>offset</key>
<string>{-6,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{855,3},{113,109}}</string>
<key>offset</key>
<string>{-6,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,109}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{1188,3},{111,111}}</string>
<key>offset</key>
<string>{-6,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{1442,3},{101,141}}</string>
<key>offset</key>
<string>{-6,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{101,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{237,3},{99,121}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{560,3},{119,91}}</string>
<key>offset</key>
<string>{-7,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,91}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{968,3},{107,113}}</string>
<key>offset</key>
<string>{-6,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{1079,3},{105,113}}</string>
<key>offset</key>
<string>{-6,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{1303,3},{109,135}}</string>
<key>offset</key>
<string>{-6,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{443,3},{119,113}}</string>
<key>offset</key>
<string>{-6,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{1587,3},{91,137}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{91,137}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{655,3},{85,119}}</string>
<key>offset</key>
<string>{-6,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{85,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{744,3},{107,115}}</string>
<key>offset</key>
<string>{-7,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{1727,127}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>