<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>0.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{232,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{232,290}}</string>
<key>sourceSize</key>
<string>{232,290}</string>
</dict>
<key>1.png</key>
<dict>
<key>frame</key>
<string>{{3,1453},{113,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,280}}</string>
<key>sourceSize</key>
<string>{113,280}</string>
</dict>
<key>2.png</key>
<dict>
<key>frame</key>
<string>{{3,581},{217,285}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{217,285}}</string>
<key>sourceSize</key>
<string>{217,285}</string>
</dict>
<key>3.png</key>
<dict>
<key>frame</key>
<string>{{3,1159},{206,290}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{206,290}}</string>
<key>sourceSize</key>
<string>{206,290}</string>
</dict>
<key>4.png</key>
<dict>
<key>frame</key>
<string>{{3,297},{226,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{226,280}}</string>
<key>sourceSize</key>
<string>{226,280}</string>
</dict>
<key>5.png</key>
<dict>
<key>frame</key>
<string>{{3,870},{207,285}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{207,285}}</string>
<key>sourceSize</key>
<string>{207,285}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>revive_num.png</string>
<key>size</key>
<string>{238,1736}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>revive_num.png</string>
</dict>
</dict>
</plist>