<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{3,791},{113,123}}</string>
<key>offset</key>
<string>{-2,13}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{3,1184},{127,101}}</string>
<key>offset</key>
<string>{-7,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{127,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,144},{121,121}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{3,1724},{123,87}}</string>
<key>offset</key>
<string>{-7,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{123,87}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{3,1581},{89,139}}</string>
<key>offset</key>
<string>{-7,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,269},{133,119}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{133,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{3,1035},{109,145}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,145}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{3,535},{107,117}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{107,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{3,646},{115,141}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,1851},{83,147}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{83,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{121,137}}</string>
<key>offset</key>
<string>{-4,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,137}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{3,918},{113,113}}</string>
<key>offset</key>
<string>{-7,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{3,406},{117,125}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{3,1315},{101,123}}</string>
<key>offset</key>
<string>{-7,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{101,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{3,1442},{99,135}}</string>
<key>offset</key>
<string>{-7,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{127,2001}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>