<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{318,3},{101,113}}</string>
<key>offset</key>
<string>{-2,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{101,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{516,3},{109,103}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{107,119}}</string>
<key>offset</key>
<string>{-6,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{221,3},{93,115}}</string>
<key>offset</key>
<string>{-7,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{93,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{623,3},{107,107}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{114,3},{103,119}}</string>
<key>offset</key>
<string>{-3,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{423,3},{113,89}}</string>
<key>offset</key>
<string>{-2,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,89}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{817,3},{123,91}}</string>
<key>offset</key>
<string>{-6,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,91}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{734,3},{99,79}}</string>
<key>offset</key>
<string>{-5,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{99,79}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{943,125}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>