<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{704,3},{127,77}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,77}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{795,84},{117,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{132,3},{121,139}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{906,3},{105,105}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{690,84},{125,101}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{125,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{430,3},{83,137}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{83,137}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{571,3},{129,77}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{129,77}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{125,137}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,137}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{293,100},{109,125}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{275,3},{93,151}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{93,151}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{553,90},{133,97}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{133,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{138,128},{79,151}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{79,151}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{422,100},{103,127}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{906,112},{111,81}}</string>
<key>offset</key>
<string>{-5,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,81}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{3,144},{131,61}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{131,61}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{1020,212}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>