<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{670,124},{127,131}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{127,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{694,3},{109,147}}</string>
<key>offset</key>
<string>{-3,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,150},{91,147}}</string>
<key>offset</key>
<string>{-3,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{91,147}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{805,116},{127,133}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{547,3},{117,143}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,143}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{127,143}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,143}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{263,3},{131,135}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{131,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{416,128},{115,125}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{398,3},{121,145}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,145}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{263,142},{111,149}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,149}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{992,3},{107,127}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{936,134},{107,139}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{107,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{845,3},{105,143}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{105,143}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{547,124},{119,129}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{134,3},{125,143}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,143}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{1103,256}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>