<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{3,630},{107,127}}</string>
<key>offset</key>
<string>{2,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{3,1696},{89,133}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,249},{109,111}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{3,1430},{95,129}}</string>
<key>offset</key>
<string>{-5,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{95,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{3,1164},{99,131}}</string>
<key>offset</key>
<string>{-7,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,142},{103,113}}</string>
<key>offset</key>
<string>{-1,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{3,1833},{85,131}}</string>
<key>offset</key>
<string>{-6,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{85,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{3,362},{109,133}}</string>
<key>offset</key>
<string>{-1,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{3,1025},{99,135}}</string>
<key>offset</key>
<string>{0,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,499},{109,127}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,761},{105,135}}</string>
<key>offset</key>
<string>{1,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{115,135}}</string>
<key>offset</key>
<string>{-8,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{3,1299},{97,127}}</string>
<key>offset</key>
<string>{1,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{3,1563},{91,129}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{3,900},{105,121}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{121,1967}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>