<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>A1.png</key>
<dict>
<key>frame</key>
<string>{{1169,261},{121,121}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A2.png</key>
<dict>
<key>frame</key>
<string>{{1040,261},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A3.png</key>
<dict>
<key>frame</key>
<string>{{1046,3},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A4.png</key>
<dict>
<key>frame</key>
<string>{{1175,3},{121,121}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A5.png</key>
<dict>
<key>frame</key>
<string>{{968,132},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A6.png</key>
<dict>
<key>frame</key>
<string>{{911,261},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A7.png</key>
<dict>
<key>frame</key>
<string>{{917,3},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A8.png</key>
<dict>
<key>frame</key>
<string>{{839,132},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>A9.png</key>
<dict>
<key>frame</key>
<string>{{782,261},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C1.png</key>
<dict>
<key>frame</key>
<string>{{788,3},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C2.png</key>
<dict>
<key>frame</key>
<string>{{710,132},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C3.png</key>
<dict>
<key>frame</key>
<string>{{659,3},{125,125}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C4.png</key>
<dict>
<key>frame</key>
<string>{{876,390},{125,117}}</string>
<key>offset</key>
<string>{-2,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C5.png</key>
<dict>
<key>frame</key>
<string>{{1097,132},{125,115}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{125,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C6.png</key>
<dict>
<key>frame</key>
<string>{{1122,390},{117,107}}</string>
<key>offset</key>
<string>{-2,2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C7.png</key>
<dict>
<key>frame</key>
<string>{{613,136},{93,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{93,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C8.png</key>
<dict>
<key>frame</key>
<string>{{421,138},{93,131}}</string>
<key>offset</key>
<string>{4,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{93,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>C9.png</key>
<dict>
<key>frame</key>
<string>{{1233,386},{107,121}}</string>
<key>offset</key>
<string>{-6,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{1294,249},{107,109}}</string>
<key>offset</key>
<string>{-2,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,109}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{1216,128},{117,105}}</string>
<key>offset</key>
<string>{-3,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{1300,3},{111,111}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{457,3},{103,129}}</string>
<key>offset</key>
<string>{9,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{354,275},{117,131}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{336,3},{117,131}}</string>
<key>offset</key>
<string>{-3,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{300,140},{117,131}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{233,287},{117,131}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W1.png</key>
<dict>
<key>frame</key>
<string>{{134,444},{39,101}}</string>
<key>offset</key>
<string>{-8,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{39,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W2.png</key>
<dict>
<key>frame</key>
<string>{{1509,323},{71,103}}</string>
<key>offset</key>
<string>{-3,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{71,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W3.png</key>
<dict>
<key>frame</key>
<string>{{1509,246},{73,103}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{73,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W4.png</key>
<dict>
<key>frame</key>
<string>{{1506,398},{79,101}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{79,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W5.png</key>
<dict>
<key>frame</key>
<string>{{1432,225},{73,103}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{73,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W6.png</key>
<dict>
<key>frame</key>
<string>{{1512,84},{77,103}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{77,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W7.png</key>
<dict>
<key>frame</key>
<string>{{1429,332},{73,101}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{73,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W8.png</key>
<dict>
<key>frame</key>
<string>{{1509,165},{77,105}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{77,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>W9.png</key>
<dict>
<key>frame</key>
<string>{{1512,3},{77,103}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{77,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{119,149}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,149}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{400,410},{99,103}}</string>
<key>offset</key>
<string>{-5,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{99,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{1344,398},{81,101}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{81,101}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{1325,118},{103,107}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{1432,114},{73,107}}</string>
<key>offset</key>
<string>{-3,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{73,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{507,406},{123,103}}</string>
<key>offset</key>
<string>{-5,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{1415,3},{93,107}}</string>
<key>offset</key>
<string>{-2,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{93,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b1.png</key>
<dict>
<key>frame</key>
<string>{{634,400},{109,109}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,109}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b2.png</key>
<dict>
<key>frame</key>
<string>{{3,448},{61,127}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{61,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b3.png</key>
<dict>
<key>frame</key>
<string>{{124,301},{105,139}}</string>
<key>offset</key>
<string>{-6,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b4.png</key>
<dict>
<key>frame</key>
<string>{{747,398},{111,125}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b5.png</key>
<dict>
<key>frame</key>
<string>{{570,269},{113,127}}</string>
<key>offset</key>
<string>{-3,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b6.png</key>
<dict>
<key>frame</key>
<string>{{199,146},{97,137}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,137}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b7.png</key>
<dict>
<key>frame</key>
<string>{{3,303},{117,141}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b8.png</key>
<dict>
<key>frame</key>
<string>{{3,156},{97,143}}</string>
<key>offset</key>
<string>{-6,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,143}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>b9.png</key>
<dict>
<key>frame</key>
<string>{{221,3},{111,133}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t1.png</key>
<dict>
<key>frame</key>
<string>{{1005,390},{117,113}}</string>
<key>offset</key>
<string>{-9,13}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t2.png</key>
<dict>
<key>frame</key>
<string>{{134,487},{21,129}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{21,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t3.png</key>
<dict>
<key>frame</key>
<string>{{564,3},{91,129}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t4.png</key>
<dict>
<key>frame</key>
<string>{{267,422},{83,129}}</string>
<key>offset</key>
<string>{-3,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{83,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t5.png</key>
<dict>
<key>frame</key>
<string>{{518,136},{91,129}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t6.png</key>
<dict>
<key>frame</key>
<string>{{475,273},{91,129}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t7.png</key>
<dict>
<key>frame</key>
<string>{{104,156},{91,141}}</string>
<key>offset</key>
<string>{-4,14}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t8.png</key>
<dict>
<key>frame</key>
<string>{{687,267},{91,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>t9.png</key>
<dict>
<key>frame</key>
<string>{{126,3},{91,139}}</string>
<key>offset</key>
<string>{-3,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>cardIcon.png</string>
<key>size</key>
<string>{1618,512}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>cardIcon.png</string>
</dict>
</dict>
</plist>