<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{459,3},{127,115}}</string>
<key>offset</key>
<string>{-5,3}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{127,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{773,130},{121,97}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{687,3},{95,123}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{95,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{525,134},{119,117}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{138,142},{105,129}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{105,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{271,140},{111,127}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{402,138},{119,113}}</string>
<key>offset</key>
<string>{-5,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{3,148},{103,131}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{124,3},{125,135}}</string>
<key>offset</key>
<string>{-4,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{125,135}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{648,132},{121,115}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{356,3},{99,131}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{117,141}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{786,3},{95,121}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{95,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{578,3},{105,125}}</string>
<key>offset</key>
<string>{-5,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{253,3},{99,133}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{894,254}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>