<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{125,121}}</string>
<key>offset</key>
<string>{-5,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{125,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{3,632},{115,119}}</string>
<key>offset</key>
<string>{-4,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{115,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,751},{83,119}}</string>
<key>offset</key>
<string>{-6,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{83,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{3,255},{119,121}}</string>
<key>offset</key>
<string>{-5,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{3,378},{117,121}}</string>
<key>offset</key>
<string>{-5,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,132},{119,121}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{3,838},{107,125}}</string>
<key>offset</key>
<string>{-5,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{3,499},{129,119}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{129,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{3,1102},{101,131}}</string>
<key>offset</key>
<string>{-7,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{101,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,967},{101,131}}</string>
<key>offset</key>
<string>{-6,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{101,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,1638},{89,129}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{3,1503},{89,131}}</string>
<key>offset</key>
<string>{-6,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{3,1370},{93,129}}</string>
<key>offset</key>
<string>{-6,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{93,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{3,1771},{73,131}}</string>
<key>offset</key>
<string>{-3,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{73,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{3,1237},{99,129}}</string>
<key>offset</key>
<string>{-5,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{127,1905}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>