<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>profile_bg_choise.png</key>
<dict>
<key>frame</key>
<string>{{3,89},{96,76}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{96,76}}</string>
<key>sourceSize</key>
<string>{96,76}</string>
</dict>
<key>profile_bg_name.png</key>
<dict>
<key>frame</key>
<string>{{3,289},{56,56}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{56,56}}</string>
<key>sourceSize</key>
<string>{56,56}</string>
</dict>
<key>profile_btn_choise.png</key>
<dict>
<key>frame</key>
<string>{{3,189},{96,72}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{96,72}}</string>
<key>sourceSize</key>
<string>{96,72}</string>
</dict>
<key>profile_btn_suiJi.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{80,82}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,82}}</string>
<key>sourceSize</key>
<string>{80,82}</string>
</dict>
<key>profile_img_duiGou.png</key>
<dict>
<key>frame</key>
<string>{{3,349},{52,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{52,52}}</string>
<key>sourceSize</key>
<string>{52,52}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>userInfo.png</string>
<key>size</key>
<string>{86,404}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>userInfo.png</string>
</dict>
</dict>
</plist>