<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{134,3},{139,137}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{139,137}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{420,3},{121,145}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,145}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{992,126},{119,119}}</string>
<key>offset</key>
<string>{-6,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{569,3},{133,129}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{133,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{134,146},{105,133}}</string>
<key>offset</key>
<string>{-4,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{105,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{714,130},{109,137}}</string>
<key>offset</key>
<string>{-7,11}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,137}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{569,140},{107,141}}</string>
<key>offset</key>
<string>{-3,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{107,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{271,146},{139,99}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{139,99}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{855,122},{133,125}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{133,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{127,153}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,153}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{992,3},{123,119}}</string>
<key>offset</key>
<string>{-5,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{843,3},{115,129}}</string>
<key>offset</key>
<string>{-3,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{115,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{702,3},{137,123}}</string>
<key>offset</key>
<string>{-5,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{137,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{414,134},{111,151}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,151}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{275,3},{127,141}}</string>
<key>offset</key>
<string>{-3,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{127,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{1122,254}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>