<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{481,3},{91,115}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{91,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{947,3},{101,111}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{101,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{1411,3},{101,125}}</string>
<key>offset</key>
<string>{-11,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{101,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{117,125}}</string>
<key>offset</key>
<string>{0,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{703,3},{113,113}}</string>
<key>offset</key>
<string>{-8,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{1284,3},{103,123}}</string>
<key>offset</key>
<string>{-4,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{1675,3},{85,119}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{85,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{257,3},{111,117}}</string>
<key>offset</key>
<string>{-2,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{132,3},{121,117}}</string>
<key>offset</key>
<string>{0,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{820,3},{123,111}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{1540,3},{93,131}}</string>
<key>offset</key>
<string>{-2,3}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{93,131}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{1052,3},{123,107}}</string>
<key>offset</key>
<string>{-1,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{372,3},{117,105}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{1179,3},{101,105}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{101,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{576,3},{123,113}}</string>
<key>offset</key>
<string>{-6,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{1797,123}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>