<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{682,3},{91,139}}</string>
<key>offset</key>
<string>{-7,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{91,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{390,3},{111,139}}</string>
<key>offset</key>
<string>{-3,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,139}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{712,98},{111,129}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{595,112},{127,113}}</string>
<key>offset</key>
<string>{-4,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{127,113}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{827,3},{123,111}}</string>
<key>offset</key>
<string>{-5,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,111}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{243,3},{121,143}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,143}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{109,159}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,159}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{940,118},{121,93}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,93}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{174,148},{103,159}}</string>
<key>offset</key>
<string>{-7,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,159}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,166},{87,167}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{87,167}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{337,128},{117,133}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{474,118},{131,117}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{131,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{533,3},{105,145}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{105,145}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{116,3},{123,141}}</string>
<key>offset</key>
<string>{-5,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{827,118},{125,109}}</string>
<key>offset</key>
<string>{-7,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{125,109}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{1036,256}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>