<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{294,3},{105,119}}</string>
<key>offset</key>
<string>{-6,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{229,3},{61,129}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{61,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{403,116},{105,103}}</string>
<key>offset</key>
<string>{-6,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{105,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{403,3},{109,103}}</string>
<key>offset</key>
<string>{-6,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,103}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{126,136},{113,115}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{113,129}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{243,136},{109,123}}</string>
<key>offset</key>
<string>{-7,7}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{109,123}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{120,3},{105,129}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{3,136},{117,119}}</string>
<key>offset</key>
<string>{-5,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,119}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{509,256}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>