<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_ju.png</key>
<dict>
<key>frame</key>
<string>{{1837,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_lan.png</key>
<dict>
<key>frame</key>
<string>{{1706,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{1575,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>H_zhu.png</key>
<dict>
<key>frame</key>
<string>{{1444,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{1313,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_dong.png</key>
<dict>
<key>frame</key>
<string>{{1182,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_qiu.png</key>
<dict>
<key>frame</key>
<string>{{1051,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_xia.png</key>
<dict>
<key>frame</key>
<string>{{920,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{789,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{658,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{527,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{396,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{265,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{134,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{127,127}}</string>
<key>offset</key>
<string>{-5,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{1967,133}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>