<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,818},{97,127}}</string>
<key>offset</key>
<string>{-6,8}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{3,251},{115,97}}</string>
<key>offset</key>
<string>{-6,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,97}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{3,949},{81,129}}</string>
<key>offset</key>
<string>{-4,9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{81,129}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{3,473},{113,95}}</string>
<key>offset</key>
<string>{-6,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,95}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,693},{105,121}}</string>
<key>offset</key>
<string>{-7,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{115,121}}</string>
<key>offset</key>
<string>{-4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,121}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{3,572},{107,117}}</string>
<key>offset</key>
<string>{-3,10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{3,352},{113,117}}</string>
<key>offset</key>
<string>{-7,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,117}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{3,128},{119,115}}</string>
<key>offset</key>
<string>{-7,3}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,115}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{121,1081}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>