<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>H_mei.png</key>
<dict>
<key>frame</key>
<string>{{3,3},{73,141}}</string>
<key>offset</key>
<string>{-4,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{73,141}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>J_chun.png</key>
<dict>
<key>frame</key>
<string>{{80,3},{105,133}}</string>
<key>offset</key>
<string>{-2,12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,133}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bai.png</key>
<dict>
<key>frame</key>
<string>{{239,134},{103,125}}</string>
<key>offset</key>
<string>{-5,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,125}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_bei.png</key>
<dict>
<key>frame</key>
<string>{{124,140},{111,95}}</string>
<key>offset</key>
<string>{-3,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,95}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_dong.png</key>
<dict>
<key>frame</key>
<string>{{3,148},{117,81}}</string>
<key>offset</key>
<string>{-4,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,81}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_fa.png</key>
<dict>
<key>frame</key>
<string>{{403,3},{115,99}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{115,99}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_nan.png</key>
<dict>
<key>frame</key>
<string>{{368,128},{113,107}}</string>
<key>offset</key>
<string>{-4,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,107}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_xi.png</key>
<dict>
<key>frame</key>
<string>{{189,3},{101,127}}</string>
<key>offset</key>
<string>{-4,7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{101,127}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
<key>Z_zhong.png</key>
<dict>
<key>frame</key>
<string>{{294,3},{121,105}}</string>
<key>offset</key>
<string>{-4,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{121,105}}</string>
<key>sourceSize</key>
<string>{157,195}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>flowerCardIcon.png</string>
<key>size</key>
<string>{505,240}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>flowerCardIcon.png</string>
</dict>
</dict>
</plist>